/Results/*D
/ResultsGeneral/*
/Results_medicine/*

# Data files outside the data/ folder
/*.txt
/*.csv
/*.json
/*.dat

# Test data files outputs
tests/opfython/data/*.txt
tests/opfython/data/*.csv
tests/opfython/data/*.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

#Downsampling
data/*
Results/*
Results (copy)/*
